.db-details-wrapper{
    border: 0.125em solid burlywood;
    width: auto;
    padding: 0.938em;
    h2{
        font-size: 1.875em;
        font-family: "Gotham";
    }
    p{
        font-family: "Raleway";
        font-size: 1em;
    }
}